.myform {
	background-color: rgb(245, 245, 245);
}
.btnradio {
    padding-top: 6px;
    margin-right: 2px;
}
.myalert {
	text-align: center;
}
.form-head {
	text-align: center;
	
}
.mybtn {
	margin-left: 2vh;
}
